<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- Configurações do banco de dados -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cloneflix</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento de classes -->
        <!-- Adicione aqui os caminhos completos das suas classes de modelo -->
        <mapping class="com.cloneflix.model.Cliente"/>
        <mapping class="com.cloneflix.model.Funcionario"/>
        <mapping class="com.cloneflix.model.Filme"/>
       
        
        <!-- Adicione mais conforme necessário -->

    </session-factory>
</hibernate-configuration>
